@use 'base/variables' as v;
@use 'base/mixins' as m;
.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    .imagen {
        height: 20rem;
        //Ruta desde css
        background-image: url(../img/1.jpg);
        background-position: center center;
        background-size: cover;
        @include m.tablet {
            height: auto;
        }
    }
    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        overflow-x: hidden;
        @include m.tablet {
            overflow: scroll;
            padding: 0 2rem 0 0;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 1rem;
            }
            &::-webkit-scrollbar-thumb {
                background-color: v.$azul;
                border-radius: 5px;
            }
        }
    }
}

.barra {
    margin: v.$separacion 0;
    p span {
        font-weight: v.$bold;
    }
    .boton {
        @include m.boton(v.$verde, v.$blanco);
        margin: 0;
    }
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .boton {
            margin: 0;
            font-size: 1.4rem;
            padding: 1.5rem 1.5rem;
        }
        p {
            font-size: 2rem;
        }
    }
    @include m.desktop {
        p {
            font-size: 2rem;
        }
        .boton {
            @include m.boton(v.$verde, v.$blanco);
        }
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .boton {
            padding: 1rem 0.8rem;
            font-size: 1.8rem;
        }
    }
    @include m.desktop {
        .boton {
            @include m.boton(v.$azul, v.$blanco);
            padding: 1.5rem 3rem;
        }
    }
    .boton {
        margin: 0 1px 1rem;
    }
}